.heroContainer {
  width: 100%;
  height: calc(100vh - 3.5rem);
  display: flex;
}

.heroContainer .heroTextContainer,
.heroContainer .heroCoverContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroContainer .heroCoverContainer {
  align-items: center;
}

.heroContainer .heroTextContainer h1 {
  width: 70%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  /* or 60px */

  color: #ffffff;
}

.heroContainer .heroTextContainer p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 36px */

  /* half white */

  color: rgba(255, 255, 255, 0.5);

  margin: 1rem 0;
}

.heroContainer .heroTextContainer .ctaContainer {
  width: 100%;
  display: flex;
}

.heroContainer .heroTextContainer .ctaContainer button {
  width: auto;

  border: none;

  outline: none;

  cursor: pointer;
}

.heroContainer .heroTextContainer .ctaContainer button:first-child {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;

  padding: 8px 20px;
}

.heroContainer .heroTextContainer .ctaContainer button:nth-child(2) {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;

  padding: 8px 20px;

  margin-left: 20px;
}

.heroContainer .heroCoverContainer .coverImageContainer {
  width: 80%;
  height: 80%;
}

.heroContainer .heroCoverContainer .coverImageContainer img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}
