.cardsContainer {
  width: 100%;
  min-height: calc(100vh - 6rem);

  margin: 5rem 0;
}

.cardsContainer .cardsWrapper {
  /* width: auto;

  height: auto;
  display: flex;
  flex-wrap: wrap; */

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
