.navbarContainer {
  width: 100%;
  height: 3.5rem;

  background-color: transparent;

  display: flex;

  justify-content: space-between;

  align-items: center;

  z-index: 2;

  position: relative;
}

.navbarContainer .navItemsContainer {
  width: auto;

  display: flex;
  align-items: center;
}

.navbarContainer .navItemsContainer .navItem {
  /* margin: 0 40px; */

  margin-right: 40px;
}

.navbarContainer .navItemsContainer .navItem span {
  /* margin: 0 40px; */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* identical to box height */

  color: #ffffff;

  cursor: pointer;
}

.navbarContainer .navItemsContainer .navCtaBtnContainer button {
  width: 120px;
  height: 35px;

  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 8px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;

  outline: none;
  border: none;

  cursor: pointer;
}

.navbarContainer .mobileNavWrapper {
  width: 270px;
  height: 100%;

  position: fixed;

  top: 0;
  right: 0;

  background: rgba(22, 31, 156, 0.7);

  z-index: 5;
}

.navbarContainer .mobileNavWrapper {
  padding: 2rem;
}

.navbarContainer .mobileNavWrapper .mobileNavItem {
  width: 100%;

  display: flex;
  align-items: center;

  margin: 1.5rem 0;

  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;

  color: whitesmoke;

  cursor: pointer;
}

.navbarContainer .mobileNavWrapper .mobileNavCtaBtnContainer button {
  width: 120px;
  height: 35px;

  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 8px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;

  outline: none;
  border: none;

  cursor: pointer;
}
