.imageCardContainer {
  width: 230px;
  height: 300px;

  border: 2px solid red;

  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  /* margin: 0.5rem; */

  cursor: pointer;

  position: relative;
  transition: all 0.3s ease;
}

.imageCardContainer:hover {
  transform: scale(1.02);
}

.imageCardContainer .imageWrapper {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;

  height: 100%;

  background-color: red;

  opacity: 0;
}

.imageCardContainer img {
  width: 100%;
  /* height: 230px; */
  object-fit: contain;
  border-radius: 15px;
}

.imageCardContainer .lowerContent {
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;

  margin-top: 8px;
}

.imageCardContainer .lowerContent .details {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  color: #ffffff;
}

.imageCardContainer .lowerContent .details p:nth-child(2) {
  font-size: 10px;
}

.imageCardContainer .lowerContent .buyButton {
  width: 50px;
  height: 20px;

  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 3px;

  border: none;
  outline: none;

  font-family: Poppins;
  font-weight: 400;
  font-size: 11px;

  color: white;

  cursor: pointer;
}
