.formContainer {
  width: 400px;
}

.formContainer h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  /* identical to box height */

  color: #ffffff;

  margin: 1rem 0;
}

.formContainer .inputFieldContainer {
  width: 100%;
  height: 3rem;

  border-radius: 10px;

  margin: 0.5rem 0;

  background: rgba(255, 255, 255, 0.1);
}

.formContainer .inputFieldContainer input {
  width: 100%;
  height: 100%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  border: none;

  outline: none;

  background: transparent;

  padding: 0 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  color: rgba(255, 255, 255, 0.5);
}

.formContainer .inputFieldContainer input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  color: rgba(255, 255, 255, 0.5);
}

.actionButton {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* identical to box height */

  color: #ffffff;

  padding: 8px 40px;

  margin-top: 1rem;

  outline: none;

  border: none;

  cursor: pointer;
}
