.pageContainer {
  background: radial-gradient(
      70.4% 106.08% at 39.77% 39.04%,
      #02006c 0%,
      #181e41 63.29%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.pageContainer .contentContainer {
  width: 100%;
  min-height: calc(100vh - 2.5rem);

  padding: 0 3rem;
}

.pageContainer .contentContainer .dullWrapper {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: black;

  opacity: 0.6;

  z-index: 2;
}

.pageContainer .contentContainer .imageDetailsContainer {
  width: 100%;
  height: auto;

  display: flex;

  margin: 4rem 0px;
}

.pageContainer .contentContainer .imageDetailsContainer .leftSide,
.pageContainer .contentContainer .imageDetailsContainer .rightSide {
  width: 50%;
}

.pageContainer .contentContainer .imageDetailsContainer .leftSide {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.pageContainer
  .contentContainer
  .imageDetailsContainer
  .leftSide
  .imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
}

.pageContainer .contentContainer .imageDetailsContainer .leftSide img {
  width: 400px;

  object-fit: contain;
}

.pageContainer
  .contentContainer
  .imageDetailsContainer
  .rightSide
  .titleAndPrice {
  margin: 1rem 0;
}

.pageContainer
  .contentContainer
  .imageDetailsContainer
  .rightSide
  .titleAndPrice
  .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  /* identical to box height */

  /* White */

  color: #ffffff;
}

.pageContainer
  .contentContainer
  .imageDetailsContainer
  .rightSide
  .titleAndPrice
  .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* White */

  color: rgba(255, 255, 255, 0.9);
}

.pageContainer .contentContainer .imageDetailsContainer .rightSide .details {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* or 162% */

  font-feature-settings: "salt" on, "liga" off;

  /* White */

  color: rgba(255, 255, 255, 0.75);
}

.pageContainer .contentContainer .imageDetailsContainer .rightSide .buyButton {
  width: 200px;
  height: 45px;

  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  );
  border-radius: 10px;

  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;

  color: white;

  margin: 1rem 0;

  cursor: pointer;

  outline: none;
  border: none;
}
