.infoComponentContainer {
  width: 100%;
  padding-bottom: 2rem;
}

.infoComponentContainer .titleContainer {
  width: 100%;
  height: auto;
}

.infoComponentContainer .titleContainer .titleText {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 28px;

  text-align: center;
  color: #ffffff;
}

.infoComponentContainer .aboutContainer {
  width: 100%;
  height: auto;
  display: flex;
}

.infoComponentContainer .aboutContainer .infoContainer,
.infoComponentContainer .aboutContainer .coverContainer {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.infoComponentContainer .aboutContainer .infoContainer {
  justify-content: center;
}

.infoComponentContainer .aboutContainer .coverContainer {
  align-items: flex-end;
}

.infoComponentContainer .aboutContainer .coverContainer .imageContainer {
  width: 80%;
  height: 80%;
}

.infoComponentContainer .aboutContainer .coverContainer .imageContainer img {
  width: 100%;
  height: 100%;

  object-fit: contain;

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.infoComponentContainer .aboutContainer .infoContainer .primaryText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  color: white;

  margin: 0.5rem 0;
}

.infoComponentContainer .aboutContainer .infoContainer .secondaryText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: rgba(255, 255, 255, 0.5);
}
